.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #365387;
    width: 100%;
    height: 100vh;
    max-width: 1420px;
}

.section> :first-child {
    align-self: stretch;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
}

.heroContent {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    max-width: 1420px; 
    width: 100%;
}

.heroMyprofile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
}

.titleBig {
    font-family: "Quicksand";
    font-size: 88px;
    color: #ffffff;
    margin: 0;
}

.titleMedium {
    margin: 0;
    font-family: "Quicksand";
    color: #FFFFFF;
    font-size: 42px;
}

.titleSmall {
    font-family: "Quicksand";
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}

.pLine {
    font-family: "Quicksand";
    color: #ffffff;
    max-width: 500px;
}

.images{
    width: 300px;
    height: auto;
    border-radius: 12px;
}

.button {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #365387;
    width: fit-content;
    border-radius: 30px;
    gap: 10px;
    width: 130px;
    height: 52px;
    border: #FFFFFF 2px solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    transform: scale(1.05);
}

.heroContentRespo {
    display: none;
}

@media screen and (max-width: 1230px) {
    .titleBig {
        font-size: 60px;
    }

    .titleMedium {
        font-size: 36px;
    }

    .titleSmall {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .heroContent {
        display: none;
    }

    .heroContentRespo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .titleBig {
        font-size: 36px;
    }

    .pLine{
        font-size: 24px;
    }
}
