.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  background-color: #266ad9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
