.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    height: 29px;
}

.navElement {
    display: flex;
    align-items: center;
    gap: 16px;
    position: sticky;
    top: 0;
}

.aLink {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.aLink:hover{
    color: #FFFFFF !important;
}

.navLine {
    display: none;
}


@media screen and (max-width: 1230px) {
    .header {
        margin-left: 8px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        display: none;
    }

    .navElement{
        display: flex;
        flex-direction: column;
    }
    .navbarRespo {
        display: flex;
        flex-direction: column;
    }

    .navbarRespo {
        width: 50px;
        height: 50px;
    }

    .navLine {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 3px;
        right: 10px;
        width: 50px;
        cursor: pointer;
    }

    .navbarOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 300px;
        background-color: #FFFFFF;
        color: black;
        display: flex;
        flex-direction: column;
        padding: 20px;
        z-index: 1;
    }

    .navCloseImage {
        width: 30px;
        cursor: pointer;
        z-index: 9999;
    }

    .navbarOpen a {
        color: #365387 !important;
    }

    .aLink:hover  {
        color: #365387 !important;
    }
}

@media screen and (min-width: 1421px) {
    .header {
        /* calculation: (100% - 1420px) / 2 = 50% - 710px */
        padding: 64px max(80px, calc(50% - 710px));
    }
}