.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    height: 29px;
}

.navElement {
    display: flex;
    align-items: center;
    gap: 61px;
    position: sticky;
    top: 0;
    padding: 0 90px;
}

.aLink {
    font-family: Quicksand;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.aLink:hover {
    color: #FFFFFF !important;
}

.navLine {
    display: none;
}

@media screen and (max-width: 1230px) {

    .header {
        display: none;
    }

    /* Menü-Auflistung */
    .navElement {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;          /* gleicher Abstand */
        padding: 0;

        /* DAS ist der entscheidende Fix */
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbarRespo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 12px;
        width: 100%;
        box-sizing: border-box;
    }

    .navLine {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        cursor: pointer;
        width: 100%;
        padding: 16px 24px;
        box-sizing: border-box;
    }

    .navbarOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        color: black;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        box-sizing: border-box;
    }

    .navCloseImage {
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 24px;
    }

    .navbarOpen a {
        color: #266AD9 !important;
    }

    .aLink:hover {
        color: #266AD9 !important;
    }
}
