.imprint {
   display: flex;
   flex-direction: column;
   justify-content: center;  
   align-items: center;     
   width: 100%;
height: 100vh;
   background-color: #262E34;
}

.imprint-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
}

.imprint-card {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;     /* Inhalt links */
  justify-content: flex-start;
  gap: 10px;
}

.titleMedium {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.imprint-subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #F8F5EC;
}

.imprint-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #F8F5EC;
}

.contactContactData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
}

.titleMedium {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 42px;
}

.span {
  color: #333;
}

.aContact {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

