.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #262E34;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1420px;
  width: 100%;
  text-align: start;
 padding: 0 120px;
}

.contactWhyMe,
.contactContactData {
  flex: 1;
  color: #FFFFFF !important;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: circle;
  text-align: start;
  padding-left: 20px;
  margin-top: 16px;
}

.titleMedium {
  display: block;
  width: 100%;
  font-weight: 700;
  color: #FFFFFF !important;
  font-family: Quicksand;
  font-style: Bold;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: start;
}

.aContact {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.contactContactDataDetail{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px
}

.contactFlex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28vw;
}

.aContact:hover{
  color: #FFFFFF;
}

@media screen and (max-width: 1230px) {
  .titleMedium {
    font-size: 36px;
  }

  .contactFlex {
    flex-direction: column;
     gap: 0px; 
  }
}

@media screen and (max-width: 500px) {
  .titleMedium {
    font-size: 24px;
  }

  .contactContainer {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }

  .aContact{
    font-size: 16px;
  }
}


@media screen and (min-width: 1421px) {
    .contact {
        /* calculation: (100% - 1420px) / 2 = 50% - 710px */
        padding: 64px max(80px, calc(50% - 710px));
    }
}

