.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section {
  background-color: #266ad9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px 117px;
  gap: 115px;
}

@media screen and (max-width: 500px) {
    .about-me  {
        font-size: 36px;
    }
}

@media screen and (max-width: 500px) {
  .content {
      padding: 0 10px;
  }
}
