.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #266AD9;
    width: 100%;
}

.projectContent {
    max-width: 1420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 16px 120px;
}

.title {
    display: block;
    width: 100%;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 24px;
    text-align: start;
    padding: 16px 0;
}

.wrapper {
    display: flex;
    gap: 40px;
    width: 100%;
}

.projectList {
    width: 240px;
}

.projectList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.projectList li {
    font-size: 24px;
    cursor: pointer;
    font-size: Quicksand;
}

.projectList li:hover {
    background: rgba(164, 9, 9, 0.15);
}

.active {
    color: #262E34;
    font-weight: 600;
}

.projectLinks {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    gap: 20px;
    margin-top: auto;
}

.buttonLight {
    width: 160px;
    height: 46px;
    border: #FFFFFF 1px solid;
    border-radius: 40px;
    background: #2F4563;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.buttonDark {
    width: 160px;
    height: 46px;
    border: none;
    border-radius: 40px;
    background: #266AD9;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.seeMoreDesktop {
    display: block;
    margin-top: 20px;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.25s;
}

.seeMoreDesktop:hover {
    color: #FFFFFF !important;
}

.content {
    width: 900px;
    height: 400px;
    padding: 32px;
    background: #2F4563;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.oben {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oben h3 {
    font-size: 32px;
    margin: 0;
}

.tagsRow {
    display: flex;
    gap: 12px;
}

.tagIcon {
    height: 36px;
    opacity: 0.85;
    transition: 0.2s;
}

.tagIcon:hover {
    opacity: 1;
    transform: scale(1.05);
}

.unten {
    display: flex;
    gap: 32px;
}

.unten img {
    width: 280px;
    border-radius: 16px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    height: 100%;
}

.descriptionSpan {
    flex-grow: 1;
}

.projectResponsive {
    display: none;
}

@media (max-width: 1400px) {

    .wrapper,
    .projectContent {
        display: none;
    }


    .projectResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: #262E34;
        padding: 0 120px;
    }

    .title {
        font-size: 64px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .respCard {
        background: #266AD9;
        color: #FFFFFF;
        max-width: 700px;
        width: 100%;
        padding: 0 120px;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    .respContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: calc(100% + 240px);
        margin-left: -120px;
        margin-right: -120px;
        padding: 8px 8px 8px 8px;
    }

    .respTitle {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0;
    }

    .respTags {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .respTagIcon {
        height: 35px;
    }

    .respImage {
        display: block;
        width: 300px;
        max-width: 100%;
        border-radius: 16px;
    }

    .respDescription {
        display: block;
        width: 100%;
        line-height: 1.45;
        font-size: 0.95rem;
    }

    .respButtons {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .respButtonLight {
        background: #FFFFFF;
        color: #3b66d4;
        padding: 10px 22px;
        border-radius: 50px;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }

    .respButtonOutline {
        background: transparent;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        padding: 10px 22px;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
    }

    .respSeeMoreButton {
        margin: 20px 0;
        padding: 12px 28px;
        border-radius: 50px;
        background: #266AD9;
        border: 2px solid #FFFFFF;
        font-weight: 600;
        width: 300px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

@media (max-width: 1230px) {
    .title {
        font-size: 32px;
        margin-bottom: 16px;
    }
}


@media (max-width: 890px) {
    .title {
        font-size: 32px;
        margin-bottom: 0;
        background-color: #266AD9;
    }
}


@media (max-width: 500px) {

    .title {
        width: calc(100% + 48px);
        /* 24px links + 24px rechts */
        margin-left: -24px;
        margin-right: -24px;
        background-color:#266AD9;
        padding-left: 24px;
        margin-top: 32px;
    }

    .projectResponsive {
        padding: 0 24px;
        width: 100%;
    }

    .respCard {
        padding: 0 24px;
        width: 100vw;
    }

    .respContent {
        width: 100%;
        margin: 0;
    }

    .respSeeMoreButton {
        width: 95%;
    }

    .respTags {
        gap: 10px;
    }
}